body{
    background-image: url(ira/background137.jpg);
    background-size: cover;
  }
  xux{

    font-size: xx-large;
    color: lightgreen;
    background-color:darkslateblue;
    
  }
  box1{

    background-color: lightgoldenrodyellow;
  }
  box2{

    background-color:lightskyblue;
    font-size: x-large;
  }
  vertext{

    color: gold;
    background-color: blue;
  }
  h6{

    color: whitesmoke;
    
    
    
  }
  raimuicon{
    position:absolute;
    top:10px;
    right:10px;
    
  }
  footer{

  background-color: gray;

  }
  txwhite{

    color: white;
  }
sp5px{margin-right: 5px;}
sp10px{margin-right: 10px;}
osibla{margin-right: 300px;}
osibla1{margin-right: 220px;}
osibla2{margin-right: 140px;}
osibla3{margin-right: 172px;}
bla1{margin-right: 128px;}
bla2{margin-right: 96px;}
bla3{margin-right: 85px;}
bla4{margin-right:36px;}

